/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Portfolio Styles */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

h1, h2, h3, nav div {
    font-family: 'Roboto';
    letter-spacing: 0.05em;
}

h1 {
    font-size: 1.75em;
    line-height: 1.25em;
    font-weight: 100;
    color: #789CC9;
    padding: 0 0 0.3em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: .05em;
    color: #337ab7;
}

h3 {
    font-size: 1.25em;
    color: #337ab7;
}

nav ul, p {
    font-weight: 300;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: inherit;
    padding: 1em 0;
    line-height: 1.5em;
}

header p {
    width: 60%
}

strong {
    font-weight: 700;
}

a {
    color: #337ab7;
}

nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5% 10%;
    color: #222;
}

.logo {
    align-self: flex-start;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    align-self: flex-end;
    font-family: sans-serif;
    font-weight: 300;
}

nav li {
    padding-right: 5%;
}

nav a {
    text-decoration: none;
    color: #222;
}

nav a:hover {
    color: #337ab7;
    cursor: pointer;
}

header, main {
    box-sizing: border-box;
}

header {
    padding: 10% 10% 0 10%;
}

main {
    padding: 0 10% 10% 10%;
}

main li {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

hr {
    margin: 10% 0;
    border: none;
    border-top: 1px solid #222;
    opacity: .2;
}

nav ~ hr {
    margin: 0;
    box-shadow: 0 1px 1px 1px #999;
    opacity: .1;
}

img {
    width: 100%;
    margin: 5% 0;
    box-shadow: 5px 10px 20px 0 #999;
    flex-shrink: 0;
}

section div {
    display: flex;
    box-sizing: border-box;
    padding: 1% 0;
}

section h2 {
    padding-bottom: 5%;
}

section p {
    padding: 0;
}

div i {
    padding-right: 4%;
}