@media screen and (min-width: 768px) {
    nav {
       padding: 2% 10%; 
    }

    h1 {
        font-size: 2.5em;
    }

    article {
        display: flex;
        box-sizing: border-box;
    }

    img {
        width: 60%;
        height: 60%;
        box-sizing: border-box;
        padding-right: 5%;
    }

    article div {
        box-sizing: border-box;
        padding: 5% 0;
    }
}

@media screen and (min-width: 1440px) {
    hr {
        margin: 7% 0;
    }
}